body {
  background-image: url("img/cover.png");
 background-repeat: no-repeat;
  position: inherit;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
}
